html
	nav
		a(href="/foods") Menu Home Page
		a(href='/foods/new') Add Item to Menu
body
	div
		h1=food.name
		h3=food.price
		p=food.description
		p=food.vegan
		p=food.vegetarian
		p=food.gluten_free
		p=food.service_time
		p=food.dish_type